---
layout: default
title: Alpaca Beam
---
	<h1>Blog</h1>
	<ul class="posts">

	  {% for post in site.posts %}
		<li><a href="{{ post.url }}" title="{{ post.title }}" style="font-size:large"><b>{{ post.header }}</b></a><br/>
		<span style="font-size:medium">{{ post.date | date_to_string }}</span> |
		{% for tag in post.tags %}
	      {% capture tag_name %}{{ tag }}{% endcapture %}
		  <a class="no-underline" href="/blog/tag#{{ tag_name }}" style="text-decoration: none"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
		{% endfor %}
		{{ post.excerpt }}
		<br/></li>
	  {% endfor %}
	</ul>
